body #postal-layer {
    top: 50%;
    left: 50%;
    width: 25rem;
    height: 30rem;
    box-shadow: 0 0 0.5rem 0.0625rem #50505050;
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 9;
}

body #postal-layer.visible {
    display: block;
}

body > main {
    align-items: center;
    padding: 3rem 0;
}


body > main > div > table {
    width: var(--width-max);
    border-collapse: collapse;
    margin-bottom: 3rem;
}


body > main > div > table > tbody > tr > th,
body > main > div > table > tfoot > tr > th {
    width: 10rem;
    border-right: 0.0625rem solid var(--border-color-default);
    text-align: left;
}

body > main > div > table > tbody > tr > td,
body > main > div > table > tbody > tr > th {
    border-bottom: 0.0625rem solid var(--border-color-default);
    padding: 0.75rem;
}
body > main > div > table > tfoot > tr > td,
body > main > div > table > tfoot > tr > th {
    padding: 0.75rem;
}

body > main > div > table > tbody > tr > td.content{
    background-color: #f0f0f0;
    padding: 3.2rem;
}

body > main > div > table > tbody > tr:first-child > td,
body > main > div > table > tbody > tr:first-child > th {
    border-top: 0.125rem solid #000000;
}

body > main > div > table > tfoot > tr > th > span {
    color: red;
}

body > main > div >  table > tbody > tr > td input {
    height: 1.75rem;
    padding: 0 0.66rem;
}

body > main > div >  table > tfoot > tr > td > form >label > input[type=text] {
    width: 70%;
    height: 2rem;
    box-sizing: border-box;
    resize: none;
}

body > main > div > table > tfoot > tr > td > form > input[type=submit] {
    margin-left: 0.33rem;
    padding: 0.3rem 0.4rem;
}


body > main > div > div {
    left: 50%;
    display: inline-grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    transform: translateX(-50%);
    padding: 0.45rem 1.8rem;
}

