body > main > div > div.child-page-listing > div.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1em;
}

body > main > div > div.child-page-listing > div.grid-container > .location-listing {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > main > div > div.child-page-listing > div.grid-container > .location-listing > .location-image {
    line-height: 0;
    overflow: hidden;
}

.location-image img {
    width: 100%;
    height: 80%;
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}

.location-title {
    font-size: 1.5em;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    display: flex;
    justify-content: center;
}

.location-listing:hover .location-title {
    opacity: 1;

}

.location-listing:hover .location-image img {
    filter: blur(2px);
}

@media (hover: none) {
    .location-title {
        opacity: 1;
    }
    .location-image img {
        filter: blur(2px);
    }
}
